@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Batman - Dark knight</h1>
    <p class="lead">Batman rebuilt with Hangfire</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hangfire dashboard</h2>
        <p>
            Go check it out in the dashboard
        </p>
        <p><a class="btn btn-default" href="/hangfire">Dashboard &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dummy job</h2>
        <p>Add another dummy job to the queue.</p>
        <p>@Html.ActionLink("Add Job", "AddDummyJob", new { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Calc job</h2>
        <p>Add a calc job to the queue.</p>
        @using (Html.BeginForm("AddCalcJob", "Home", FormMethod.Post))
        {
            <fieldset>
                <input placeholder="double value" name="arg1" />
                <input placeholder="double value" name="arg2" />
            </fieldset>
        <p><input type="submit" value="Add Job" class="btn btn-default" /></p>
        }
    </div>
</div>